* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  --color-base-white: #fff;
  --color-base-blue-500: #387e96;
  --color-base-blue-700: #065e7c;
  --color-base-gray-800: #121214;
  --color-base-gray-900: #202024;
}

html,
body,
input {
  font-family: "Mulish", sans-serif;
}

body {
  font-size: 1.6rem;
  line-height: 2.6rem;
  overflow-x: hidden;
}

header {
  padding: 1.6rem 2.8rem;
  background: var(--color-base-blue-700);
}

.header-wrapper {
  display: flex;
  align-items: center;
  gap: 2.6rem;
}

.header-wrapper form {
  flex: 1;
}

.input-wrapper label {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

.input-wrapper input {
  width: 100%;
  padding: 1.2rem 1.6rem 1.2rem 1.4rem;
  background-color: var(--color-base-blue-500);
  border-radius: 0.4rem;
}

.input-wrapper input,
.input-wrapper input::placeholder {
  font-weight: 600;
  line-height: 1.6rem;
  color: var(--color-base-white);
}

.avatar {
  width: 4.2rem;
  height: 4.2rem;
  object-fit: cover;
  border-radius: 50%;
}

main {
  max-width: 80rem;
}

main img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

main h1 {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.8rem;
  color: var(--color-base-gray-900);
}

.container {
  padding: 3.2rem 1.6rem;
}

.button-wrapper {
  display: flex;
  flex-direction: column;

  gap: 0.8rem;
  margin-bottom: 3.2rem;
}

.button-wrapper .buttons {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.buttons button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 4rem;
  height: 4rem;
  background: var(--color-base-blue-700);
  border-radius: 50%;
}

.buttons button:hover {
  cursor: pointer;
  background: #074a60;
}

.buttons button img {
  width: 1.5rem;
  height: 1.5rem;
}

.container p {
  color: var(--color-base-gray-800);
}

.container p:last-child {
  margin-top: 3.2rem;
}

.sidebar {
  max-width: 38.4rem;
  padding: 0 1.6rem;
  margin-bottom: 3.2rem;

  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.sidebar h1 {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.8rem;
  color: var(--color-base-gray-900);
}

.card {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.card:hover {
  cursor: pointer;
  filter: hue-rotate(7deg) contrast(101%) saturate(200%);
  transform: scale(1.1);
}

.card img {
  width: 15rem;
  height: 8.4rem;
  object-fit: cover;
  border-radius: 0.4rem;
}

.description {
  width: 21.5rem;
}

.description h3 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: var(--color-base-gray-900);
}

.description p {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: var(--color-base-gray-800);
}

footer {
  text-align: center;
  padding: 2.6rem;
  background: var(--color-base-blue-500);

  font-weight: 600;
  line-height: 2rem;
  color: var(--color-base-white);
}

/* RESPONSIVESS */

@media (min-width: 800px) {
  .header-wrapper {
    max-width: 1225px;
    margin-inline: auto;
  }

  main {
    max-width: 80.3rem;
    margin-top: 4.4rem;
  }

  main img {
    border-radius: 5px;
  }

  .sidebar {
    padding: 0;
  }

  .container {
    padding: 3.2rem 0;
  }

  .button-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
  }
}

@media (max-width: 1200px) {
  main {
    margin-inline: auto;
  }

  .sidebar {
    margin-inline: auto;
  }
}

@media (min-width: 1200px) {
  .page {
    display: grid;
    grid-template-areas:
      "header header"
      "main sidebar"
      "footer footer";
    column-gap: 3.4rem;
  }

  header {
    grid-area: header;
  }

  main {
    grid-area: main;
    place-self: flex-end;
  }

  .sidebar {
    place-self: flex-start;
    margin-top: 4.4rem;
  }

  footer {
    grid-area: footer;
  }
}

/* ANIMATIONS */

.header-wrapper {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.card {
  --delay: 0.4s;
  -webkit-animation: slide-in-right 0.5s var(--delay)
    cubic-bezier(0.25, 0.46, 0.45, 0.94) backwards;
  animation: slide-in-right 0.5s var(--delay)
    cubic-bezier(0.25, 0.46, 0.45, 0.94) backwards;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
